<div class="container">
  <div class="mx-auto row mt-3" style="width: 400px; height: 50px">
    <form action="/" method="GET" id="filterOption">
      <select name="filter" id="filter" onchange="filterOption.submit()">
        <option value=".">類別</option>
        <option value="家居物業" {{{isMatched filter "家居物業" }}}>家居物業</option>
        <option value="交通出行" {{{isMatched filter "交通出行" }}}>交通出行</option>
        <option value="休閒娛樂" {{{isMatched filter "休閒娛樂" }}}>休閒娛樂</option>
        <option value="餐飲食品" {{{isMatched filter "餐飲食品" }}}>餐飲食品</option>
        <option value="其他" {{{isMatched filter "其他" }}}>其他</option>
      </select>
    </form>
  </div>
  <div class="mx-auto mt-3 align-middle" style="width: 400px; height:100px;">
    <p class="fs-1 text-center">總支出：{{totalAmount}}</p>
  </div>
  <div class="card mt-5 mx-auto" style="max-width: 900px;">
    <div class="card-header">
      <div class="row">
        <p class="col-6">支出</p>
        <p class="col-4">金額</p>
        <p class="col-2"></p>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      {{#if record}}
      {{#each record}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-6"><i class="{{this.icon}}"><span class="ms-1">{{this.name}}</span></i></div>
          <div class="col-4">{{this.amount}}</div>
          <div class="col-2">
            <a class="btn btn-sm btn-outline-primary mr-1 mb-1" href="/accounts/{{this._id}}/edit"
              role="button">edit</a>
            <button type="button" class="btn btn-sm btn-outline-danger mr-1 mb-1" data-bs-toggle="modal"
              data-bs-target="#delete">
              delete
            </button>
            {{!-- delete alert --}}
            <div class="modal fade" id="delete" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Warning!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    確定要將 {{this.name}} 刪除？
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/accounts/{{this._id}}?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">刪除</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </li>
      {{/each}}
      {{/if}}
    </ul>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <a href="/accounts/new" class="btn btn-lg btn-outline-primary btn-block">新增一筆</a>
  </div>



</div>